<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}
{% include "includes/_navbar.html" %}
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="../../static/css/guest_home.css">
{% endblock %}

{% block content %}

<div style="text-align:center;margin:3.5rem;">
  <img style="height:12rem;margin-top:8.5rem;margin-left:1.5rem;" src="../../static/media/logo.png">
</div>
<h3 style="text-align:center;margin-top:-3.5rem;margin-bottom:1.5rem;">Redefining Meals, Promoting Sustainability</h3>

<!-- Add code to flash message when redirected to login page -->
<div style="text-align:center;">
    <a href="{{ url_for('guest.articles') }}" class="btn btn-primary">Articles</a>
    <a href="{{ url_for('guest.recipe_database') }}" class="btn btn-primary">Recipes</a>
</div>

<p style="margin-top:1rem;text-align:center;">Login / Signup to order</p>

{% endblock %}