<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}
{% include "includes/_navbar.html" %}
{% endblock %}

{% block content %}

<h1>Tastefully Logo</h1>
<p>Redefining Meals, Promoting Sustainability</p>

<!-- Add code to flash message when redirected to login page -->
<form method="POST" action="/login">
    <button name="button" value="order_page" class="btn btn-primary bypass-disable">Order</button>
    <button name="button" value="recipe_creator_page" class="btn btn-primary bypass-disable">Recipe Creator</button>
</form>

<p>Login / Signup to order</p>

{% endblock %}