<!DOCTYPE html>
{% extends "customer/edit_profile.html" %}

{% block title %}tastefully | Edit Profile - Verify Email{% endblock %}

<!-- Disable default alert box from showing -->
{% block flash_messages %}{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}


<!-- Manually display customer data -->
<div class="container-fluid row g-0" id="container">
    <div class="col-3" id="left">
        <form method="POST" action="" id="customer_details_profile_pic">
            <div id="profile-image">
                {% if session.get("customer").get("profile_pic") == "default" %}
                <img class="rounded-circle" src="{{ url_for('static', filename='images/default_profile_pic.png') }}" />
                {% else %}
                <img class="rounded-circle"
                    src="{{ url_for('static', filename='uploads/customer/profile_pictures/' + session.get('customer').get('profile_pic')) }}" />
                {% endif %}
            </div>
            <div id="edit-image-button">
                <button type="submit" name="button" value="edit_profile_pic" class="btn btn-primary bypass-disable">EDIT
                </button>
            </div>
        </form>
    </div>

    <div class="col" id="right">
        <div id="content">
            <form method="POST" action="" id="customer_details">
                <div id="content-header">
                    <h1>Account Details</h1>
                    <p>Account Created on: <span>{{ session.get("customer").get("joined_date") }}</span></p>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="first_name">First Name</label>
                        <input class="form-control" id="first_name" name="first_name" type="text" value="{{ cust_details[0] }}" disabled />
                    </div>
                    <div class="col">
                        <label for="last_name">Last Name</label>
                        <input class="form-control" id="last_name" name="last_name" type="text" value="{{ cust_details[1] }}" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="display_name">Display Name</label>
                        <input class="form-control" id="display_name" name="display_name" type="text" value="{{ cust_details[2] }}" disabled />
                    </div>
                    <div class="col">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="text" value="{{ cust_details[3] }}" disabled />
                    </div>
                </div>
    
                <div id="extra-details">
                    <p>Reset your password <a href="#">here</a>
                    </p>
                    <p>If you entered a different email address, we'll send you a verification code before letting you
                        save your details
                    </p>
                </div>
    
                <div id="buttons" class="row">
                    <div id="revert-button" class="col">
                        <button type="submit" name="button" value="revert" class="btn btn-primary rounded-pill bypass-disable disabled">REVERT</button>
                    </div>
                    <div id="save-button" class="col">
                        <button type="submit" name="button" value="save" class="btn btn-primary rounded-pill bypass-disable disabled">SAVE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show"></div>

<!-- OTP popup -->
<form method="POST" action="{{ url_for('customer.verify_new_email', id=id) }}" id="otp_form">
    <div class="modal fade show" id="myModal" data-bs-backdrop="false" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title">Verify Email</h3>
                    <button type="submit" name="button" value="close" class="btn-close bypass-disable"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {% block flash_messages_2 %}
                    <!-- 'error' category flash message -->
                    {% for message in get_flashed_messages(category_filter=["error"]) %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn btn-close bypass-disable" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    <!-- 'info' category flash message -->
                    {% for message in get_flashed_messages(category_filter=["info"]) %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn btn-close bypass-disable" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endblock %}
                    <div class="form-group">
                        {{ render_field(otp_form.otp, class="form-control") }}
                    </div>

                    <br>

                    <p>Verify the pin sent to your email address</p>
                    <a href="{{ url_for('customer.verify_new_email', id=id, resend_pin=True) }}">Resend PIN</a>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <input type="submit" value="VERIFY" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    const myModalElement = document.getElementById("myModal");
    const myModalInstance = new bootstrap.Modal(myModalElement, {});
    myModalInstance.show();
</script>
{% endblock %}