<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Customer Home{% endblock %}

{% block navbar %}
{% include "includes/_customer_navbar.html" %}
{% endblock %}

{% block content %}
<h1>Welcome {{ session.get("customer").get("display_name") }}!</h1>


<!-- Buttons to navigate to other places -->
<div class="buttons">
    <a href="{{ url_for('customer.order', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Place Order</button></a>
    <a href="{{ url_for('customer.recipe_creator', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Recipe Creator</button></a>
    <a href="{{ url_for('customer.favourites', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Favourites</button></a>
    <a href="{{ url_for('customer.customer_articles', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Articles</button></a>
    <a href="{{ url_for('customer.current_delivery', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Current Delivery</button></a>
    <a href="{{ url_for('customer.feedback', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Feedback</button></a>
    <a href="{{ url_for('customer.order_history', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Order History</button></a>
</div>


{% endblock %}