{% extends "base.html" %}

{% block css %}
{{super() }}
<link href="{{ url_for('static', filename='css/delivery-info.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}tastefully | Payment Information {% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}

<br><br>
<div class="container">
<h1 class="display-4">Payment Information</h1>
<form method="POST" action="{{ url_for('customer.payment_info',id= 2) }}">

    <div class="form-group text">
        {{ render_field(form.card_type, class="form-control") }}
    </div>
    <div class="form-group text">
        {{ render_field(form.card_name, class="form-control") }}
    </div>
    <div class="form-group text">
        {{ render_field(form.card_num, class="form-control") }}
    </div>
    <div class="form-group text">
        {{ render_field(form.card_exp, class="form-control") }}
    </div>
    <div class="form-group text">
        {{ render_field(form.card_cvc, class="form-control") }}
    </div>


    <br>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
{% endblock %}