#main-content {
    margin-top: 10rem;
}

.card {
    width: 48rem;
    background-color: #ffedc5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.card-title {
    margin-top: 1rem;
    margin-bottom: 0;
}

h3.card-title {
    margin: 0;
    text-align: center;
}

.card-body {
    padding: 0;
    margin: 1rem;
}

#create-admin {
    height: 100%;
    width: 100%;
    margin: 0;
}

.form-group {
    margin: 0;
    padding-top: 1.2rem;        
}

.form-group#names {
    padding-top: 0;
}

.form-group label {
    display: inline;
    padding-left: 0.625rem;
}

.form-group input {
    margin-top: 0.65rem;
}

#submit-button {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

#submit-button input {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}