body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#container {
    display: flex;
    flex: 1;
}

#left-half, #right-half {
    min-height: 100vh;
    max-width: 50vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#left-half {
    background-color: #ffedc5;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#right-half {
    background-color: #f3f3f3;
    display: flex;
    flex: 1;
}

#left-half img {
    max-width: 27rem;
    max-height: 100%;
    width: auto;
    height: auto;
}

#content {
    display: flex;
    flex-direction: column;
    max-width: 27rem;
}

#content-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

#content-body {
    width: 100%;
    max-height: 90%;
    background-color: #ffedc5;
    border-radius: 1.8rem;
}

#avatar-container {
    background-color: #ffedc5;
    width: 10rem;
    height: 5rem;
    border-radius: 5rem 5rem 0 0;
}

#avatar-head {
    color: #4285f4;
    font-size: 3rem;
    margin-top: 1rem;
    text-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.75);
}

#avatar-body {
    position: relative;
    z-index: 1;
    background-color: #4285f4;
    width: 6rem;
    height: 3rem;
    border-radius: 2.25rem 2.25rem 0 0;
    margin: 0 auto;
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.75);
}

#main-content h3 {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 1.5rem;
    text-align: left;
}

#back-link {
    text-align: left;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}

#form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin: 0 2rem 1.5rem 2rem;
}

label {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

.form-group input {
    padding: 0.6rem;
}

.form-group input::placeholder {
    font-size: 1.2rem;
}

#extra-statement {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    text-align: left;
}

input[type="submit"] {
    padding: 0.5rem 1.8rem;
}

#extra-details {
    margin-top: 1rem;
}

#links p {
    margin-bottom: 0.5rem;
}

hr {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}