body, input::placeholder, input[type="submit"], label, p {
    font-size: 0.9vw;
}

#left-half {
    height: 100vh;
    background-color:#ffedc5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-half {
    height: 100vh;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 22.5vw;
    height: auto;
}

#content-box {
    width: 22.5vw;
}

#above-form-box {
    background-color: transparent;
    border: none;
}

#above-form-box .semicircle-box {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

#semicircle {
    background-color: #ffedc5;
    width: 8.9vw;
    height: 4.5vw;
    border-radius: 4.5vw 4.5vw 0 0;
}

.bi.bi-circle-fill {
    color: #4285f4;
    font-size: 2.55vw;
    margin-top: 16px;
    text-shadow: 0 0.127vw 0.254vw rgba(0, 0, 0, 0.75);
}

#semicircle2 {
    background-color: #4285f4;
    width: 5.61vw;
    height: 2.55vw;
    border-radius: 2.04vw 2.04vw 0 0;
    margin: 0 auto;
    box-shadow: 0 0.1275vw 0.255vw rgba(0, 0, 0, 0.75);
}

#form-box {
    background-color: #ffedc5;
    border-radius: 1.5285vw;
}

#form-box h4 {
    text-align: left;
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: 1.019vw;
}

#form-box-fields {
    width: 100%;
    padding: 2.038vw;
    padding-bottom: 1.019vw;
}

#login-base {
    height: 100%;
    width: 100%;
}

#form-box-fields label {
    display: inline;
    width: fit-content;
    padding: 0 0 0 0.5vw;
}

.form-group {
    margin: 0;
    padding-top: 1.019vw;
}

.form-control {
    padding: 0.382vw 0.764vw;
    font-size: 1.019vw;
}

#form-box-fields input {
    margin-top: 1.019vw;
}

#form-box-fields input.rounded-pill {
    padding: 0.408vw 1.529vw;
    font-size: 0.815vw;
}

#reset-password-link, #resend-otp-link {
    margin-top: 1.019vw;
}

#form-box hr {
    margin: 0 2.038vw;
    margin-top: 0.51vw;
}

#form-box-extra-links {
    width: 100%;
    padding-top: 1.019vw;
    padding-bottom: 1.019vw;
}
