p {
    font-size:1.2em;
}

#price h3 {
	width: 100%;
	text-align: center;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
}

body {
    font-family: 'Inter-SemiBold';

}

#food-pic{
    display: flex;
    justify-content: center;
}

#food-pic, #price{
    margin-top: 1rem;
}

#food-pic img {
	width: 15rem;
	height: 15rem;
}

#left, #right{
    display: flex;
}
*{
    font-family: Inter-SemiBold;
}