<!DOCTYPE html>
{% extends "admin/edit_profile_otp.html" %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}

<form method="POST" action="" id="admin_details">
    <h1>Account Details</h1>
    <button type="submit" name="button" value="revert" class="btn btn-primary" disabled>REVERT</button>

    <!-- Display profile image -->
    <p>Display Profile Image</p>
    <button type="submit" name="button" value="edit_profile_pic" class="btn btn-primary" disabled>Edit Profile
        Picture</button>

    <div class="form-group">
        {{ render_field(form.first_name, class="form-control", disabled=True) }}
        {{ render_field(form.last_name, class="form-control", disabled=True) }}
    </div>
    <div class="form-group">
        {{ render_field(form.display_name, class="form-control", disabled=True) }}
        {{ render_field(form.email, class="form-control", disabled=True) }}
    </div>

    <button type="submit" name="button" value="save" class="btn btn-primary" disabled>SAVE</button>
</form>

<!-- Reset password popup -->
<form method="POST" action="{{ url_for('admin.reset_password', id=id) }}" id="otp_form">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            {% block flash_messages %}
                {{ super() }}
            {% endblock %}

            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Reset Password</h4>
                    <button type="submit" name="button" value="close_popup" class="btn-close"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {{ render_field(password_form.password, class="form-control") }}
                    {{ render_field(password_form.confirm_password, class="form-control") }}

                    <p>Set your new password</p>
                    <input type="submit" value="RESET" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}