<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Admin Home{% endblock %}

{% block navbar %}
{% include "includes/_admin_navbar.html" %}
{% endblock %}

{% block content %}
<h1>Welcome {{ session.get("admin").get("display_name") }}!</h1>

<!-- Buttons to navigate to other places **Replace url paths accordingly** -->
<div class="buttons">
    <a href="{{ url_for('admin.recipe_database', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Recipes</button></a>
    <a href="{{ url_for('admin.menu_database', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Menus</button></a>
    <a href="{{ url_for('admin.articles_database', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Articles</button></a>
    <a href="{{ url_for('admin.customer_database', id=id) }}"><button class="btn btn-lg btn-primary btn-block rounded-lg">Customers</button></a>
</div>

{% endblock %}