{% extends "base.html" %}

{% block title %}Admin Home{% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="../../static/css/home.css">
{% endblock %}


    {% block navbar %} {% include "includes/_admin_navbar.html" %} {% endblock %}

{% block content %}

<div style="text-align:center;margin:3.5rem;">
  <img style="height:12rem;" src="../../static/media/logo.png">
</div>
<hr>
<h2 style="text-align:center;font-size:2rem;">Welcome {{ session.get("admin").get("display_name") }}, what would you like to do?</h2>
<div style="margin:3rem;margin-left:10vw;margin-right:10vw;text-align:center;">


  <a href="{{ url_for('admin.recipe_database', id=id) }}">
    <div class="card" style="width: 14rem;height:14rem;padding:1rem;">
      <img style="width:8rem;margin:auto;" src="../../static/home_logo/recipe-book.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 style="margin-top:0.3rem;">Recipes</h3>
      </div>
    </div>
  </a>
  <a href="{{ url_for('admin.menu_database', id=id) }}">
    <div class="card" style="width: 14rem;height:14rem;padding:1rem;">
      <img style="width:8rem;margin:auto;" src="../../static/home_logo/menu.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 style="margin-top:0.3rem;">Menu</h3>
      </div>
    </div>
  </a>
  <a href="{{ url_for('admin.article', id=id) }}">
    <div class="card" style="width: 14rem;height:14rem;padding:1rem;">
      <img style="width:8rem;margin:auto;" src="../../static/home_logo/article.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 style="margin-top:0.3rem;">Articles</h3>
      </div>
    </div>
  </a>
  <a href="{{ url_for('admin.customer_database', id=id) }}">
    <div class="card" style="width: 14rem;height:14rem;padding:1rem;">
      <img style="width:8rem;margin:auto;" src="../../static/home_logo/people.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 style="margin-top:0.3rem;">Customer</h3>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="card" style="width: 14rem;height:14rem;padding:1rem;">
      <img style="width:8rem;margin:auto;" src="../../static/home_logo/feedback.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 style="margin-top:0.3rem;">Feedback</h3>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="card" style="width: 14rem;height:14rem;padding:1rem;">
      <img style="width:8rem;margin:auto;" src="../../static/home_logo/order-history.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 style="margin-top:0.3rem;font-size:1.5rem;">Order History</h3>
      </div>
    </div>
  </a>





</div>



{% endblock %}