<!DOCTYPE html>
{% extends "admin/update_admin.html" %}

{% block title %}Update Admin - Reset Password{% endblock %}

{% block css %}
    {{ super() }}
    <style>
        .modal-backdrop.fade.show {
            opacity: 0.5;
            background-color: black;
        }

        .modal-backdrop.fade {
            transition: opacity 0.15s linear;
        }
    </style>
{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}

<form method="POST" action="" id="admin_details">
    <h1>Account Details</h1>
    <button name="button" value="revert" class="btn btn-primary" disabled>REVERT</button>
    <br>
    
    <!-- Manually display admin data -->
    <div class="form-group row">
        <div class="col">
            <label for="first_name">First Name</label>
            <input class="form-control" id="first_name" name="first_name" type="text" value="{{ admin_details[0] }}" disabled />
        </div>
        <div class="col">
            <label for="last_name">Last Name</label>
            <input class="form-control" id="last_name" name="last_name" type="text" value="{{ admin_details[1] }}" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label for="display_name">Display Name</label>
            <input class="form-control" id="display_name" name="display_name" type="text" value="{{ admin_details[2] }}" disabled />
        </div>
        <div class="col">
            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" type="text" value="{{ admin_details[3] }}" disabled />
        </div>
    </div>

    <p>Reset your password <a href="">here</a></p>

    <button name="button" value="save" class="btn btn-primary" disabled>SAVE</button>
</form>

<div class="modal-backdrop fade show"></div>

<!-- Reset password popup -->
<form method="POST" action="" id="reset-password-form">
    <div class="modal fade show" id="myModal" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Reset Password</h4>
                    <button type="submit" name="button" value="close" class="btn-close bypass-disable"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {% block flash_messages %}
                        {{ super() }}
                    {% endblock %}

                    {{ render_field(password_form.password, class="form-control") }}
                    {{ render_field(password_form.confirm_password, class="form-control") }}

                    <p>Set new password</p>
                </div>

                    <!-- Modal Footer -->
                <div class="modal-footer">
                    <input type="submit" value="RESET" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const myModalElement = document.getElementById("myModal");
        const myModalInstance = new bootstrap.Modal(myModalElement, {});
        myModalInstance.show();
    </script>
{% endblock %}