<!DOCTYPE html>
{% extends "admin/update_admin.html" %}

{% block title %}tastefully | Update Admin - Reset Password{% endblock %}

{% block css %}
{{ super() }}
<style>
    .modal-body {
        padding: 0;
        margin: 0 1.019vw 1.019vw 1.019vw;
    }
</style>
{% endblock %}

<!-- Disable default alert box from showing -->
{% block flash_messages %}{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}

<!-- Manually display admin data -->
<div class="container-fluid" id="main-content">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Update Admin Account</h3>

            <hr>

            <form method="POST" action="" id="admin_details">
                <div style="text-align: left;">
                    <a href="/05010999/retrieve" style="margin-bottom: 1.019vw; margin-left: 1.019vw;"><i class="bi bi-arrow-left-circle"></i>
                        Back to Admin List
                    </a>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label for="first_name">First Name</label>
                        <input class="form-control" id="first_name" name="first_name" type="text"
                            value="{{ admin_details[0] }}" disabled />
                    </div>
                    <div class="col">
                        <label for="last_name">Last Name</label>
                        <input class="form-control" id="last_name" name="last_name" type="text"
                            value="{{ admin_details[1] }}" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="display_name">Display Name</label>
                        <input class="form-control" id="display_name" name="display_name" type="text"
                            value="{{ admin_details[2] }}" disabled />
                    </div>
                    <div class="col">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="text" value="{{ admin_details[3] }}"
                            disabled />
                    </div>
                </div>

                <div id="extra-links">
                    <p>Reset password <a
                            href="{{ url_for('admin.reset_password2', id=id, reset_password=True) }}">here</a>
                    </p>
                </div>

                <hr>

                <div id="buttons">
                    <button type="submit" name="button" value="revert"
                        class="btn btn-primary bypass-disable" disabled>REVERT</button>
                    <button type="submit" name="button" value="save" class="btn btn-primary rounded-pill" disabled>SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show"></div>

<!-- Reset password popup -->
<form method="POST" action="" id="reset-password-form">
    <div class="modal fade show" id="myModal" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Reset Password</h4>
                    <button type="submit" name="button" value="close" class="btn-close bypass-disable"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {% block flash_messages_2 %}
                    <!-- 'error' category flash message -->
                    {% for message in get_flashed_messages(category_filter=["error"]) %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 1.019vw; margin-bottom: 0;">
                        {{ message }}
                        <button type="button" class="btn btn-close bypass-disable" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    <!-- 'info' category flash message -->
                    {% for message in get_flashed_messages(category_filter=["info"]) %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert" style="margin-top: 1.019vw; margin-bottom: 0;">
                        {{ message }}
                        <button type="button" class="btn btn-close bypass-disable" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endblock %}

                    <div class="form-group">
                        {{ render_field(password_form.password, class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ render_field(password_form.confirm_password, class="form-control") }}
                    </div>

                    <br>

                    <p style="text-align: left; margin-bottom: 0; padding-left: 0.382vw;">Set new password</p>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <input type="submit" value="RESET" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/disable_enable_submit.js') }}"></script>
<script>
    const myModalElement = document.getElementById("myModal");
    const myModalInstance = new bootstrap.Modal(myModalElement, {});
    myModalInstance.show();
</script>
{% endblock %}