<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}List of Admins{% endblock %}

{% block navbar %}
{% include "includes/_admin_navbar2.html" %}
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account_table.css') }}" />
<style>
    #no-admin-details {
        text-align: center;
    }

    #no-admin-details h1{
        margin: 0;
    }

    #no-admin-details button {
        margin-top: 1.2rem;
    }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid" id="content">
    {% if admins_list %}
    <main id="table">
        <section id="table-header">
            <h3>List of Admins</h3>
            <p>Total: {{ count }}</p>
        </section>

        <section id="table-body">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Username</th>
                        <th>Display Name</th>
                        <th>Email</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for admin in admins_list %}
                    <tr>
                        <td colspan="2">
                            {% if admin.get_profile_pic_name() == "default"%}
                            <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" />
                            {% else %}
                            <img src="{{ url_for('static', filename='uploads/admin/profile_pictures/' + admin.get_user_id()) }}" />
                            {% endif %}
                            
                            {{ admin.get_username() }}
                        </td>
                        <td>{{ admin.get_display_name() }}</td>
                        <td>{{ admin.get_email() }}</td>
                        <td class="text-center"><a
                                href="{{ url_for('admin.update_admin', id=admin.get_user_id()) }}" class="btn btn-warning">Update</a>
                        </td>
                        <td class="text-center">
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#myModal_{{ admin.get_user_id() }}">Delete</button>
    
                            <!-- The Modal -->
                            <div class="modal" id="myModal_{{ admin.get_user_id() }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
    
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete Confirmation</h4>
                                            <button type="button" class="btn-close bypass-disable"
                                                data-bs-dismiss="modal"></button>
                                        </div>
    
                                        <!-- Modal Body -->
                                        <div class="modal-body">Are you sure you want to delete {{
                                            admin.get_username() }}?
                                        </div>
    
                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <form action="{{ url_for('admin.delete_admin_account', id=admin.get_user_id()) }}" method="POST">
                                                <input type="submit" value="Delete"
                                                    class="btn btn-danger bypass-disable" />
                                            </form>
                                            <button type="button" class="btn btn-secondary bypass-disable"
                                                data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    {% else %}
    <section id="no-admin-details">
        <form method="GET" action="{{ url_for('admin.create_admin_account') }}">
            <h1>There are currently no admins!</h1>
            <button class="btn btn-warning" name="button" value="create_admin">Create Admin</button>
        </form>
    </section>
    {% endif %}
</div>


{% endblock %}
