<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}List of Admins{% endblock %}

{% block navbar %}
{% include "includes/_admin_navbar2.html" %}
{% endblock %}

{% block css %}
{{ super() }}
<style>
    #main-content h3 {
        margin-top: 16px;
    }

    table {
        border-collapse: collapse;
        border: black 1px solid;
    }
    
    th, td {
        text-align: center;
    }

    th {
        font-size: 20px;
    }

    thead#tr {
        background-color: #ffedc5;
    }

</style>
{% endblock %}

{% block content %}
{% if session %}
{{ session.keys() }}
{% endif %}

<div class="container-fluid">
    <div id="main-content">
        <h3>List of Admins</h3>
        <p id="admin-count">Total: {{ count }}</p>

        <hr>

        <div id="table-content">
            <table class="table table-striped">
                <thead>
                    <tr id="thead-tr">
                        <th>Username</th>
                        <th>Display Name</th>
                        <th>Email</th>
                        <th class="text-center" colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in admins_list %}
                    <tr>
                        <td>{{ admin.get_username() }}</td>
                        <td>{{ admin.get_display_name() }}</td>
                        <td>{{ admin.get_email() }}</td>
                        <td class="text-center"><a
                                href="/05010999/update?id={{ admin.get_user_id() }}" class="btn btn-warning">Update</a>
                        </td>
                        <td class="text-center">
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#myModal_{{ admin.get_user_id() }}">Delete</button>

                            <!-- The Modal -->
                            <div class="modal" id="myModal_{{ admin.get_user_id() }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete Confirmation</h4>
                                            <button type="button" class="btn-close bypass-disable"
                                                data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal Body -->
                                        <div class="modal-body">Are you sure you want to delete {{
                                            admin.get_username() }}?
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <form action="/05010999/delete/{{ admin.get_user_id() }}" method="POST">
                                                <input type="submit" value="Delete"
                                                    class="btn btn-danger bypass-disable" />
                                            </form>
                                            <button type="button" class="btn btn-secondary bypass-disable"
                                                data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
