<!DOCTYPE html>
{% extends "admin/create_admin.html" %}

{% block title %}Update Admin Details{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}

<form method="POST" action="" id="update-admin">
    <h1>Account Details</h1>
    <button type="submit" name="button" value="revert" class="btn btn-primary bypass-disable">REVERT</button>

    <div class="form-group row" id="create-admin">
        <div class="col">
            {{ render_field(form.first_name, class="form-control", data_original_value=form.first_name.data) }}
        </div>
        <div class="col">
            {{ render_field(form.last_name, class="form-control", data_original_value=form.last_name.data) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            {{ render_field(form.display_name, class="form-control", data_original_value=form.display_name.data) }}
        </div>
        <div class="col">
            {{ render_field(form.email, class="form-control", data_original_value=form.email.data) }}
        </div>
    </div>
    <p>Reset password <a href="/05010999/update/{{ id }}?reset_password=True">here</a>
    </p>
    
    <button type="submit" name="button" value="save" class="btn btn-primary">SAVE</button>
</form>
    
{% endblock %}