{% extends 'admin/admin_menu.html' %}
{% block title %}tastefully | View Menu Item{% endblock %}

{% block css %}
{{ super() }}
<style>
    #food-pic img {
        width: 25rem;
        height: 25rem;
    }

    #container {
        margin-top: 1.8rem;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid" id="container">
    <div class="row">
        <div id="left" class="col-md-4">
            <div id="food-pic">
                <img class="img-fluid" src="{{ url_for('static', filename='menu_image/') }}"
                    alt="Menu Image">
            </div>
        </div>
        <div id="right" class="col-md-8">
            <h1 class="mt-4 mb-4">{{ menu_item.get_name() }}</h1>
            <div id="description">
                <p>{{ menu_item.get_description() }}</p>
            </div>
            <div id="Quantity">
                <p>Quantity {{ menu_item.get_description() }}</p>
            </div>
            <div id="price">
                <h4>Price: ${{ menu_item.get_price() }}</h4>
            </div>
            <div id="back-button">
                <a href="{{ url_for('admin.menu', id=id) }}" class="btn btn-secondary mt-3 mb-4">Back to Menu</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}