<!DOCTYPE html>
<nav class="navbar navbar-expand-lg g-0"
    style="background-color:#ffedc5ff; border-bottom: black 1px solid">
    <div class="container-fluid">
        <!-- Logo image -->
        <a class="navbar-brand" href="{{ url_for('admin.admin_home', id=id) }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                style="height: 3.5rem; width: auto; margin-left: 1rem;" />
        </a>
        <button class="navbar-toggler bypass-disable" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
            <!-- Main pages -->
            <ul class="navbar-nav ms-auto" style="margin-right: 6rem;">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin_home', id=id) }}">Home</a>
                </li>
                <!-- Dropdown for Recipe Database -->
                <li class="nav-item active dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Recipes</a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('admin.recipe_database', id=id) }}">Recipe
                                Database</a></li>
                        <!-- Replace href value with actual url path for create_recipe -->
                        <li><a class="dropdown-item" href="{{ url_for('admin.create_recipe', id=id) }}">Create Recipe</a></li>
                    </ul>
                </li>
                <!-- Dropdown for Menu Database -->
                <li class="nav-item active dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menus</a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('admin.menu', id=id) }}">Menu
                                Database</a></li>
                        <!-- Replace href value with actual url path for create_menu -->
                        <li><a class="dropdown-item" href="{{ url_for('admin.create_menu', id=id) }}">Create Menu</a></li>
                    </ul>
                </li>
                <!-- Dropdown for Articles Database -->
                <li class="nav-item active dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Articles</a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('admin.article', id=id) }}">Articles
                                Database</a></li>
                        <!-- Replace href value with actual url path for create_article -->
                        <li><a class="dropdown-item" href="{{ url_for('admin.create_article', id=id) }}">Create Article</a></li>
                    </ul>
                </li>
                <!-- Customer Database -->
                <li class="nav-item">
                    <!-- Replace href with {# url_for('admin.customer_database', id=id) #} when ready -->
                    <a class="nav-link" href="{{ url_for('admin.customer_database', id=id) }}">Customers</a>
                </li>
                <!-- Customer Feedback -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.customer_feedback', id=id) }}">Customer Feedback</a>
                </li> -->
            </ul>

            <!-- Dropdown for Profile and Logout -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        style="height: 3.5rem; border: black 1px solid; margin-right: 1rem; padding-left: 1rem; padding-right: 1rem;">

                        <div class="profile-box d-flex align-items-center">
                            {% if session.get("admin").get("profile_pic") == "default"%}
                            <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}"
                                class="rounded-circle" alt="Profile Picture" style="height: 2.5rem; width: 2.5rem;" />
                            {% else %}
                            <img src="{{ url_for('static', filename='uploads/admin/profile_pictures/' + session.get('admin').get('profile_pic')) }}"
                                class="rounded-circle" alt="Profile Picture" style="height: 2.5rem; width: 2.5rem;" />
                            {% endif %}
                            <div class="profile-info ms-2">
                                {{ session.get("admin").get("display_name") }}
                            </div>
                        </div>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('admin.edit_admin_profile', id=id) }}">Edit
                                Profile</a>
                        </li>
                        <li><a class="dropdown-item nav-btn btn btn-danger" href="#" data-bs-toggle="modal"
                                data-bs-target="#confirm-logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Confirm Logout Popup -->
<div class="modal" id="confirm-logout">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Logout Confirmation</h4>
                <button type="button" class="btn-close bypass-disable" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">Are you sure you want to logout?</div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <form action="{{ url_for('login', id=id, logout=True) }}" method="POST">
                    <input type="submit" value="Yes" class="btn btn-danger bypass-disable" />
                </form>
                <button type="button" class="btn btn-secondary bypass-disable" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>