<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light shadow shadow-sm"
    style="background-color:#ffedc5ff; border-bottom: black 1px solid;">
    <div class="container-fluid">
        <!-- Logo image -->
        <a class="navbar-brand" href="{{ url_for('admin.retrieve_admin') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                style="height: 3.5rem; width: auto; margin-left: 1rem;" />
        </a>
        <button class="navbar-toggler bypass-disable" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><span
                class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.create_admin_account') }}">Create Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.retrieve_admin') }}">Admin List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>