<!DOCTYPE html>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Replace this element with logo of our business -->
        <a class="navbar-brand" href="{{ url_for('customer.customer_home', id=id) }}">Tastefully Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customer.customer_home', id=id) }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customer.order', id=id) }}">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customer.recipe_creator', id=id) }}">Recipe Creator</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <!-- Replace this element with customer's chosen (if any) or default image -->
                    <a class="nav-link" {% if edit_profile %}active{% endif %} href="{{ url_for('customer.edit_cust_profile', id=id) }}">Image {{ session.get("customer").get("display_name") }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>