<!DOCTYPE html>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Replace this element with logo of our business -->
        <a class="navbar-brand" href="{{ url_for('customer.customer_home', id=id) }}">Tastefully Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customer.customer_home', id=id) }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customer.order', id=id) }}">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customer.recipe_creator', id=id) }}">Recipe Creator</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customer.edit_cust_profile', id=id) }}">Edit Profile: {{ session.get("customer").get("display_name") }}</a>
                </li>
                <li class="nav-item">
                    <input type="submit" name="button" value="Logout" class="nav-btn btn btn-danger bypass-disable" data-bs-toggle="modal" data-bs-target="#confirm-logout" />
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Confirm Logout Popup -->
<div class="modal" id="confirm-logout">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Logout Confirmation</h4>
                <button type="button" class="btn-close bypass-disable" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">Are you sure you want to logout?</div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <form action="{{ url_for('login', id=id, logout=True) }}" method="POST">
                    <input type="submit" value="Yes" class="btn btn-danger bypass-disable" />
                </form>
                <button type="button" class="btn btn-secondary bypass-disable" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>