<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light shadow shadow-sm"
    style="background-color:#ffedc5ff; border-bottom: black 1px solid;">
    <div class="container-fluid">
        <!-- Logo image -->
        <a class="navbar-brand" href="{{ url_for('guest.home', id=id) }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                style="height: 3.5rem; width: auto; margin-left: 1rem;" />
        </a>
        <button class="navbar-toggler bypass-disable" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Main pages -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('guest.home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('guest.menu') }}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('guest.articles') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('guest.recipe_database') }}">Recipe Database</a>
                </li>
            </ul>

            <!-- Login & Sign up -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>