<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}

<h1 class="display-4">Login</h1>

<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.username, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.password, class="form-control") }}
    </div>
    <input type="submit" value="LOGIN" class="btn btn-primary" />
    <!-- Create password fields -->
    <a href="/">Forgot Password</a>
    
    <hr>

    <p>New to tastefully? Sign up <a href="{{ url_for('signup') }}">here</a></p>
    <p>Just browsing? Our menu is <a href="{{ url_for('guest.menu') }}">here</a></p>
</form>

{% endblock %}