<!DOCTYPE html>
{% extends "login_base.html" %}

{% block form %}
{% from "includes/_form_helper.html" import render_field %}
<form method="POST" action="" id="verify-email-form">
    <a href="/login?back=True">Back to Login</a>

    <div class="form-group">
        {{ render_field(form.otp, class="form-control") }}
    </div>

    <p>Please check your email and enter the code above</p>
    <input type="submit" value="VERIFY" class="btn btn-primary disabled" />
    <a href="/login/verify_email?resend_pin=True">Resend PIN</a>
</form>
{% endblock %}
