<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}

{% block content %}
<div class="container-fluid row g-0" id="container">
    <div id="left-half">
        <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" />
    </div>

    <div id="right-half">
        <div id="content">
            <div id="content-header">
                <div id="avatar-container">
                    <i class="bi bi-circle-fill" id="avatar-head"></i>
                    <div id="avatar-body"></div>
                </div>
            </div>

            <div id="content-body">
                <div id="main-content">
                    {% block form %}
                    {% from "includes/_form_helper.html" import render_field %}
                    <h3>Login</h3>

                    <hr>

                    <form method="POST" action="" id="login-base">
                        <div class="form-group row">
                            {{ render_field(form.username, class="form-control") }}
                        </div>
                       <div class="form-group row">
                            {{ render_field(form.password, class="form-control") }}
                        </div>
                        <input type="submit" value="LOGIN" class="btn btn-primary rounded-pill" />
                    </form>

                    <div id="extra-details">
                        <a href="/login?reset_password=True">Forgot Password</a>
                    </div>

                    {% endblock %}

                    <hr>

                    <div id="links">
                        <p>New to tastefully? Sign up <a href="/signup">here</a></p>
                        <p>Just browsing? Our menu is <a href="/menu">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/disable_enable_submit.js') }}"></script>
{% endblock %}