<!DOCTYPE html>
{% extends "login_base.html" %}

{% block form %}
{% from "includes/_form_helper.html" import render_field %}
<div id="form-box-fields">
    <div style="text-align: left; margin-bottom: 1.019vw;">
        <a href="/login?back=True" style="margin-bottom: 1.019vw;"><i class="bi bi-arrow-left-circle"></i>
            Back</a>        
    </div>

    <hr style="margin: 0;">

    <form method="POST" action="" id="login-reset-pass">
        <div class="form-group row">
            {{ render_field(form.password, class="form-control") }}
        </div>
        <div class="form-group row">
            {{ render_field(form.confirm_password, class="form-control") }}
        </div>

        <br>
        
        <p style="text-align: left; margin-bottom: 0; padding-left: 0.382vw;">Reset your password</p>
        <input type="submit" value="RESET" class="btn btn-primary rounded-pill" />
    </form>
</div>
{% endblock %}