<!DOCTYPE html>
{% extends "login_base.html" %}

{% block form %}
{% from "includes/_form_helper.html" import render_field %}
<form method="POST" action="" id="login-reset-pass">
    <a href="/login?back=True">Back to Login</a>
    <div class="form-group">
        {{ render_field(form.password, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.confirm_password, class="form-control") }}
    </div>

    <p>Reset your password</p>
    <input type="submit" value="RESET" class="btn btn-primary" />
</form>
{% endblock %}