<!DOCTYPE html>
{% extends "signup_otp.html" %}

{% block form %}
{% from "includes/_form_helper.html" import render_field %}
<div id="form-box-fields">
    <div class="card-body">
        <div style="text-align: left; margin-bottom: 1.019vw;">
            <a href="/signup?back=True" style="margin-bottom: 1.019vw;">
                <i class="bi bi-arrow-left-circle"></i> Back
            </a>
        </div>

        <hr style="margin: 0;">

        <form method="POST" action="" id="set-password-form">
            <div class="form-group row">
                {{ render_field(form.password, class="form-control") }}
            </div>
            <div class="form-group row">
                {{ render_field(form.confirm_password, class="form-control") }}
            </div>
        
            <br>

            <p style="text-align: left;">Set your password</p>
            <input type="submit" value="CREATE" class="btn btn-primary rounded-pill disabled" />
        </form>
    </div>
</div>
{% endblock %}