<!DOCTYPE html>
{% extends "signup_base.html" %}

{% block form %}
{% from "includes/_form_helper.html" import render_field %}
<form method="POST" action="" id="set-password-form">
    <div class="form-group">
        {{ render_field(form.password, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.confirm_password, class="form-control") }}
    </div>

    <p>Set your password</p>
    <input type="submit" value="CREATE" class="btn btn-primary disabled" />
</form>
{% endblock %}