<!DOCTYPE html>
{% extends "signup_base.html" %}

{% block content %}
<div class="container-fluid row g-0">
    <div id="left-half">
        <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" />
    </div>

    <div id="right-half">
        <div id="content">
            <div id="content-header">
                <div id="avatar-container">
                    <i class="bi bi-circle-fill" id="avatar-head"></i>
                    <div id="avatar-body"></div>
                </div>
            </div>

            <div id="content-body">
                <div id="main-content">
                    {% block form %}
                    {% from "includes/_form_helper.html" import render_field %}
                    <div id="back-link">
                        <a href="/signup?back=True" style="margin-bottom: 1.2rem;">
                            <i class="bi bi-arrow-left-circle"></i> Back
                        </a>
                    </div>

                    <hr>

                    <form method="POST" action="" id="verify-email-form">
                        <div class="form-group row">
                            {{ render_field(form.otp, class="form-control") }}
                        </div>

                        <div id="extra-statement">
                            <p>Please check your inbox and enter the code above</p>
                        </div>

                        <input type="submit" value="VERIFY" class="btn btn-primary rounded-pill disabled" />

                        <div id="extra-details">
                            <a href="/signup/verify_email?resend_pin=True">Resend PIN</a>
                        </div>
                    </form>

                    {% endblock %}

                    <hr>

                    <div id="links">
                        <p>Already have an account? Log in <a href="/login">here</a></p>
                        <p>Just browsing? Our menu is <a href="/menu">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}