<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
{% from "includes/_form_helper.html" import render_field %}

<h1 class="display-4">Sign Up</h1>
<!-- Replace with logo of our business -->
<h1>Tastefully Logo</h1>

{% if stage == "base" %}
    <form method="POST" action="{{ url_for('signup', stage='base') }}" id="base-signup-form">
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}

        <p>We'll send you a verification code to verify your email before letting you set your password</p>
        <input type="submit" value="SEND" class="btn btn-primary disabled" />
    </form>

{% elif stage == "verify_email" %}
    <form method="POST" action="{{ url_for('signup', stage='verify_email') }}" id="verify-email-form">
        {{ render_field(form.otp) }}

        <p>Verify your email address by entering the pin sent to {{ form.email }}</p>
        <input type="submit" value="VERIFY" class="btn btn-primary disabled" />
    </form>

{% elif stage == "set_password" %}
    <form method="POST" action="{{ url_for('signup', stage='set_password') }}" id="set-password-form">
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}

        <p>Set your password</p>
        <input type="submit" value="CREATE" class="btn btn-primary disabled" />
    </form>

{% endif %}

<hr>

<p>Already have an account? Log in <a href="{{ url_for('login') }}">here</a></p>
<p>Just browsing? Our menu is <a href="{{ url_for('guest.menu') }}">here</a></p>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
{% endblock %}
