<!DOCTYPE html>
{% extends "signup_base.html" %}

{% block form %}
{% from "includes/_form_helper.html" import render_field %}

<form method="POST" action="" id="verify-email-form">
    <a href="{{ url_for('signup', back=True) }}">Back to Signup</a>

    <div class="form-group">
        {{ render_field(form.otp, class="form-control") }}
    </div>

    <p>Please check your inbox and enter the code above</p>
    <input type="submit" value="VERIFY" class="btn btn-primary disabled" />
</form>
{% endblock %}
