<!DOCTYPE html>
{% extends "signup_base.html" %}

{% block content %}
<div class="container-fluid row g-0">
    <div class="col-sm-6 col-md-6 col-lg-6" id="left-half">
        <img class="mx-auto img-fluid" id="logo" src="{{ url_for('static', filename='images/logo.png') }}" />
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6" id="right-half">
        <div id="content-box" class="text-center">

            <div id="above-form-box" class="card">
                <div class="semicircle-box">
                    <div id="semicircle">
                        <i class="bi bi-circle-fill"></i>
                        <div id="semicircle2"></div>
                    </div>
                </div>
            </div>

            <div id="form-box">
                <div class="card-body">
                    {% block form %}
                    {% from "includes/_form_helper.html" import render_field %}
                    <div id="form-box-fields">
                        <div style="text-align: left; margin-bottom: 1.019vw;">
                            <a href="/signup?back=True" style="margin-bottom: 1.019vw;">
                                <i class="bi bi-arrow-left-circle"></i> Back
                            </a>
                        </div>

                        <hr style="margin: 0;">

                        <form method="POST" action="" id="verify-email-form">
                            <div class="form-group row">
                                {{ render_field(form.otp, class="form-control") }}
                            </div>

                            <br>

                            <p style="text-align: left;">Please check your inbox and enter the code above</p>

                            <input type="submit" value="VERIFY" class="btn btn-primary rounded-pill disabled" />

                            <div id="resend-otp-link">
                                <a href="/signup/verify_email?resend_pin=True">Resend PIN</a>
                            </div>
                        </form>
                    </div>

                    {% endblock %}

                    <hr>

                    <div id="form-box-extra-links">
                        <p>Already have an account? Log in <a href="/login">here</a></p>
                        <p>Just browsing? Our menu is <a href="/menu">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}