<!DOCTYPE html>
{% extends "signup_otp.html" %}

{% block form %}
{% from "includes/_form_helper.html" import render_field %}
<div id="back-link">
    <a href="/signup?back=True">
        <i class="bi bi-arrow-left-circle"></i> Back
    </a>
</div>

<hr>

<form method="POST" action="" id="set-password-form">
    <div class="form-group row">
        {{ render_field(form.password, class="form-control") }}
    </div>
    <div class="form-group row">
        {{ render_field(form.confirm_password, class="form-control") }}
    </div>

    <div id="extra-statement">
        <p>Set your password</p>
    </div>
    <input type="submit" value="CREATE" class="btn btn-primary rounded-pill disabled" />
</form>
{% endblock %}
